<div class="card-columns m-5 animated fadeIn">

  <div (click)="verArtista( item )"  *ngFor="let item of items" class="card puntero border-0">
    <img [src]="item.images | noimage" class="card-img-top border-0" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ item.name}} </h5>
      <p class="card-text">
        <span class="badge badge-success text-wrap m-2" *ngFor="let artista of item.artists">
            <h5>{{ artista.name }}</h5>
        </span>
      </p>
    </div>
  </div>

</div>